@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.5s ease-in-out;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(69%) sepia(24%) saturate(151%) hue-rotate(164deg)
    brightness(92%) contrast(90%);
}

input[type="date"]::-moz-calendar-picker-indicator {
  filter: invert(69%) sepia(24%) saturate(151%) hue-rotate(164deg)
    brightness(92%) contrast(90%);
}
